<div class="photo__pic">
	<div class="photo__pic-tile">
		<img src="/images/empty.png" data-orig="{{ result.url_preview }}" alt="{{ result.name }}" width="100%" class="lazy">
	</div>
	<div class="i photo__vote i-vote{{#if photo.wasvote}} active{{/if}}">
		<span class="photo__vote-title">{{photo.like}}</span>
	</div>
	<div class="photo__story">
		<span class="photo__story-name">{{ photo.story.name }}</span> <span class="photo__story-by">by</span> <a href="/user/{{ result.user.id }}/" class="photo__user-name unm">{{ result.user.name }}</a> <span class="photo__ts" data-ts="{{ photo.timestamp }}">{{_timegap photo.timestamp}}</span>
	</div>
</div>
<div class="photo__text-row">
	<div class="photo__pic-col1">
		{{#if result.name}}
			<h2 class="photo__caption">{{_uinput result.name }}</h2>
		{{/if}}
		<div class="photo-comment-pane__cont"></div>
	</div>
	<div class="photo__pic-col2">
		{{#if photo.location}}
		<div class="photo__location">
			<div class="photo__location-map">
				<a href="https://maps.google.com/maps?q={{ photo.location.latitude }},{{ photo.location.longitude }}" target="_blank" class="photo__location-link">
					<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ photo.location.latitude }},{{ photo.location.longitude }}&zoom=13&size=290x84&scale=2&markers=shadow:false|icon:http://weheartpics.com/images/map/marker.png|{{ photo.location.latitude }},{{ photo.location.longitude }}&sensor=true" width="100%" class="photo__location-image">
				</a>
			</div>
			<i class="i i-streetview"></i>
			{{#if photo.location.name }}
				<h3 class="photo__location-name">{{ photo.location.name }}</h3>
			{{/if}}
			{{#if photo.location.address }}
				<h4 class="photo__location-addr">{{ photo.location.address }}</h4>
			{{/if}}
		</div>
		{{/if}}
		<div class="photo-likers__cont"></div>
		<div class="photo-share__cont"></div>
	</div>
</div>