<h3 class="photo-share__title">Share this photo:</h3>
<ul class="photo-share__menu">
	<li class="photo-share__item photo-share__fb"><a class="photo-share__link" href="">Facebook</a></li>
	<li class="photo-share__item photo-share__tw"><a class="photo-share__link" href="">Twitter</a></li>
	<li class="photo-share__item photo-share__vk"><a class="photo-share__link" href="">Vkontakte</a></li>
	<li class="photo-share__item photo-share__pt"><a class="photo-share__link" href="">Pinterest</a></li>
	<li class="photo-share__item photo-share__email"><a class="photo-share__link" target="_blank" href="mailto:?subject=Look%20whatta%20photo&body=http://weheartpics.com/photo/{{ photo_id }}/">E-mail</a></li>
	<div></div>
	<li class="photo-share__item photo-share__download"><a class="photo-share__link" target="_blank" href="{{ photo_link }}">Download photo</a></li>
	<li class="photo-share__item photo-share__report"><a class="photo-share__link" href="">Report photo</a></li>
</ul>
