// This file was generated automaticly, so don't modify it!
.i{
	background: url("/images/sprites/i-3744c.png") no-repeat 0 0;
	.background-size(64px 428px);
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.i{
		background: url("/images/sprites/i-2x-3744c.png") no-repeat 0 0;
		vertical-align:text-top;
		display:inline-block;
	}
}
.i-add{
	width: 22px;
	height: 25px;
	background-position: 0px 0px;
}
.i-add_passive{
	width: 43px;
	height: 50px;
	background-position: 0px -26px;
}
.i-comment-more{
	width: 16px;
	height: 10px;
	background-position: 0px -77px;
}
.i-comment-more_open{
	width: 16px;
	height: 10px;
	background-position: 0px -88px;
}
.i-nav-drop-arrow{
	width: 14px;
	height: 14px;
	background-position: 0px -99px;
}
.i-nav-drop-arrow_open{
	width: 14px;
	height: 14px;
	background-position: 0px -114px;
}
.i-no-avatar{
	width: 30px;
	height: 30px;
	background-position: 0px -129px;
}
.i-no-avatar_30{
	width: 30px;
	height: 30px;
	background-position: 0px -160px;
}
.i-no-avatar_40{
	width: 40px;
	height: 40px;
	background-position: 0px -191px;
}
.i-no-avatar_50{
	width: 50px;
	height: 50px;
	background-position: 0px -232px;
}
.i-streetview{
	width: 23px;
	height: 15px;
	background-position: 0px -283px;
}
.i-vote{
	width: 64px;
	height: 64px;
	background-position: 0px -299px;
}
.i-vote_active{
	width: 64px;
	height: 64px;
	background-position: 0px -364px;
}
.icn{
	background: url("/images/sprites/icn-02309.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
.icn-arrow-medium_left{
	width: 11px;
	height: 18px;
	background-position: 0px 0px;
}
.icn-arrow-medium_left_hover{
	width: 11px;
	height: 18px;
	background-position: 0px -20px;
}
.icn-arrow-medium_right{
	width: 11px;
	height: 18px;
	background-position: 0px -40px;
}
.icn-arrow-medium_right_hover{
	width: 11px;
	height: 18px;
	background-position: 0px -60px;
}
.icn-arrow-small_right{
	width: 11px;
	height: 14px;
	background-position: 0px -80px;
}
.icn-arrow-small_right_hover{
	width: 11px;
	height: 14px;
	background-position: 0px -96px;
}
.icn-auth__arrow-left{
	width: 13px;
	height: 17px;
	background-position: 0px -112px;
}
.icn-auth__arrow-right{
	width: 13px;
	height: 17px;
	background-position: 0px -131px;
}
.icn-popup__close{
	width: 38px;
	height: 38px;
	background-position: 0px -150px;
}
.icn-popup__close_hover{
	width: 38px;
	height: 38px;
	background-position: 0px -190px;
}
.iexp{
	background: url("/images/sprites/iexp-d49f4.png") no-repeat 0 0;
	.background-size(32px 1715px);
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.iexp{
		background: url("/images/sprites/iexp-2x-d49f4.png") no-repeat 0 0;
		vertical-align:text-top;
		display:inline-block;
	}
}
.iexp-aboutme{
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
}
.iexp-aboutme_active{
	width: 32px;
	height: 32px;
	background-position: 0px -33px;
}
.iexp-aboutme_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -66px;
}
.iexp-all{
	width: 32px;
	height: 32px;
	background-position: 0px -99px;
}
.iexp-all_active{
	width: 32px;
	height: 32px;
	background-position: 0px -132px;
}
.iexp-all_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -165px;
}
.iexp-allphotos{
	width: 32px;
	height: 32px;
	background-position: 0px -198px;
}
.iexp-allphotos_active{
	width: 32px;
	height: 32px;
	background-position: 0px -231px;
}
.iexp-city{
	width: 32px;
	height: 32px;
	background-position: 0px -264px;
}
.iexp-city_active{
	width: 32px;
	height: 32px;
	background-position: 0px -297px;
}
.iexp-city_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -330px;
}
.iexp-date{
	width: 32px;
	height: 32px;
	background-position: 0px -363px;
}
.iexp-date_active{
	width: 32px;
	height: 32px;
	background-position: 0px -396px;
}
.iexp-date_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -429px;
}
.iexp-day{
	width: 32px;
	height: 32px;
	background-position: 0px -462px;
}
.iexp-day_active{
	width: 32px;
	height: 32px;
	background-position: 0px -495px;
}
.iexp-day_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -528px;
}
.iexp-droparrow{
	width: 32px;
	height: 32px;
	background-position: 0px -561px;
}
.iexp-droparrow_open{
	width: 32px;
	height: 32px;
	background-position: 0px -594px;
}
.iexp-family{
	width: 32px;
	height: 32px;
	background-position: 0px -627px;
}
.iexp-family_active{
	width: 32px;
	height: 32px;
	background-position: 0px -660px;
}
.iexp-family_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -693px;
}
.iexp-friends{
	width: 32px;
	height: 32px;
	background-position: 0px -726px;
}
.iexp-friends_active{
	width: 32px;
	height: 32px;
	background-position: 0px -759px;
}
.iexp-friends_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -792px;
}
.iexp-home{
	width: 32px;
	height: 32px;
	background-position: 0px -825px;
}
.iexp-home_active{
	width: 32px;
	height: 32px;
	background-position: 0px -858px;
}
.iexp-home_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -891px;
}
.iexp-location{
	width: 32px;
	height: 32px;
	background-position: 0px -924px;
}
.iexp-location_active{
	width: 32px;
	height: 32px;
	background-position: 0px -957px;
}
.iexp-location_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -990px;
}
.iexp-my{
	width: 32px;
	height: 32px;
	background-position: 0px -1023px;
}
.iexp-my_active{
	width: 32px;
	height: 32px;
	background-position: 0px -1056px;
}
.iexp-my_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -1089px;
}
.iexp-places{
	width: 32px;
	height: 32px;
	background-position: 0px -1122px;
}
.iexp-places_active{
	width: 32px;
	height: 32px;
	background-position: 0px -1155px;
}
.iexp-places_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -1188px;
}
.iexp-popular{
	width: 32px;
	height: 32px;
	background-position: 0px -1221px;
}
.iexp-popular_active{
	width: 32px;
	height: 32px;
	background-position: 0px -1254px;
}
.iexp-popular_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -1287px;
}
.iexp-sub-m-open{
	width: 32px;
	height: 32px;
	background-position: 0px -1320px;
}
.iexp-sub-m-open_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -1353px;
}
.iexp-sub-m{
	width: 32px;
	height: 32px;
	background-position: 0px -1386px;
}
.iexp-sub-m_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -1419px;
}
.iexp-sub{
	width: 32px;
	height: 32px;
	background-position: 0px -1452px;
}
.iexp-sub_active{
	width: 32px;
	height: 32px;
	background-position: 0px -1485px;
}
.iexp-sub_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -1518px;
}
.iexp-work{
	width: 32px;
	height: 32px;
	background-position: 0px -1551px;
}
.iexp-work_active{
	width: 32px;
	height: 32px;
	background-position: 0px -1584px;
}
.iexp-work_hover{
	width: 32px;
	height: 32px;
	background-position: 0px -1617px;
}
.iexp-x{
	width: 32px;
	height: 32px;
	background-position: 0px -1650px;
}
.iexp-x_active{
	width: 32px;
	height: 32px;
	background-position: 0px -1683px;
}
