.popup{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: @popupIndex;
	overflow: auto;

	-webkit-transition: opacity .3s, -webkit-transform .3s;
	   -moz-transition: opacity .3s, -moz-transform .3s;
	     -o-transition: opacity .3s, -o-transform .3s;
	        transition: opacity .3s, transform .3s;

	.opacity(100);
}
.popup.shake{
	.animation(shake, 0.2s);
}
.popup.in{
	.opacity(0);
}
.popup__inner{
	position: relative;
	float: none;
	margin: 0 auto;
	.box-shadow(0 1px 8px rgba(0,0,0,.25));
	background-color: @white;
}
.popup__content{
	padding: 0;
	margin: 0 auto;
}

.popup__table{
	height: 100%;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.popup__table TD{
	vertical-align: middle;
	padding: 0;
}

.popup__close{
	position: absolute;
	right: 0;
	top: 0;
	width: 36px;
	height: 22px;
	background: white;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
	.close{
		display: block;
		float: none;
		line-height: 22px;
		width: 36px;
		height: 22px;
		font-size: 24px;
	}
}